<form action="/submit" method="post">
  <label for="change-value">Enter an amount of change:</label>
  <input type="number" name="change-value" required>
  <button type="submit" name="button">Get chur coins!</button>
</form>
